---
import { Button } from "@packages/ui/components/button";
---

<section>
  <div class="py-12">
    <div class="mx-auto max-w-5xl px-6">
      <div class="flex flex-wrap items-center justify-between gap-6">
        <div>
          <h2 class="text-foreground text-balance text-3xl font-semibold lg:text-4xl">Build 10x Faster with ContentaGen</h2>
        </div>
        <div class="flex justify-end gap-3">
          <Button
            variant="outline"
            size="lg"
            className="font-semibold">
            <a href="#">Get a Demo</a>
          </Button>
          <Button
            size="lg"
            className="font-semibold">
            <a href="#">Get Started</a>
          </Button>
        </div>
      </div>
    </div>
  </div>
</section>