---
import { Quote } from "@lucide/astro";
import StarRating from "../components/StarRating.astro";
import { testimonials } from "../data/sections/testimonials.ts";
---


<section class="py-24 bg-muted">
  <div class="container mx-auto px-6 p-4">
    <div class="max-w-xl mx-auto text-center">
      <Quote class="fill-background stroke-background mx-auto w-8 h-8 drop-shadow-sm" />
      <blockquote class="mt-6">
        <p class="text-foreground text-xl">
          Trusted by leading startups, agencies, and creators worldwide.<br>
          See why professionals rely on us for their content needs.
        </p>
        <footer class="mt-6 flex flex-col items-center justify-center">
          <div class="ring-foreground/10 w-12 h-12 border border-transparent shadow ring-1 rounded-full overflow-hidden flex items-center justify-center bg-white">
            <img
              src="https://avatars.githubusercontent.com/u/68236786?v=4"
              alt="Théo Balick"
              class="w-12 h-12 object-cover"
              loading="lazy"
            />
          </div>
          <cite class="text-foreground mt-2 text-lg font-medium">Théo Balick</cite>
          <span class="text-muted-foreground">@theo_b</span>
        </footer>
      </blockquote>
    </div>
  </div>
</section>
