---
import { Quote } from "@lucide/astro";
import StarRating from "../components/StarRating.astro";
import { testimonials } from "../data/sections/testimonials.ts";
---


<section>
  <div class="bg-muted py-24">
    <div class="mx-auto w-full max-w-2xl px-6 text-center">
      <div class="max-w-xl mx-auto">
        <Quote class="fill-background stroke-background mx-auto w-8 h-8 drop-shadow-sm" />
        <blockquote class="mt-6">
          <p class="text-foreground text-xl">
            Using Tailark has been like unlocking a secret design superpower. It's the perfect fusion of simplicity and versatility, enabling us to create UIs that are as stunning as they are user-friendly.
          </p>
          <footer class="mt-6 flex flex-col items-center justify-center">
            <div class="ring-foreground/10 w-12 h-12 border border-transparent shadow ring-1 rounded-full overflow-hidden flex items-center justify-center bg-white">
              <img
                src="https://avatars.githubusercontent.com/u/68236786?v=4"
                alt="Théo Balick"
                class="w-12 h-12 object-cover"
                loading="lazy"
              />
            </div>
            <cite class="text-foreground mt-2 text-lg font-medium">Théo Balick</cite>
            <span class="text-muted-foreground">@theo_b</span>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
